@import "tailwindcss";


.hide-scroll-bar {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE and Edge */
  overflow: auto;              /* Enables scrolling */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, and Opera */
}
@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

